.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
    padding-bottom: 2rem;
}
